* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: none;
    color: #444;
}

a:hover {
    color: #444;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
    text-decoration: none;
    outline: none;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.cp {
    cursor: pointer
}

html,
body {
    height: 100%;
}

p {
    margin-bottom: 0px;
    width: 100%;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;

}

.hid {
    display: none;
}

.top-mar {
    margin-top: 15px;
}

.h-100 {
    height: 100%;
    ;
}

::placeholder {
    color: #747f8a !important;
    font-size: 13px;
    opacity: .5 !important;
}

.container-fluid {
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Rubik;
}

h1 {
    text-shadow: 8px 8px #444;
    font-size: 8vh;
}

.btn {
    width: 100%;
    margin-right: 50%;
    margin-bottom: 3%;

}

body {
    background-color: #fafafa !important;
    font-family: Rubik;
    color: #6A6A6A;
    overflow-x: hidden;

}

.bg-login {
    background-image: url('/pics/RandomPic/login_coffeeShop_Wallpaper.jpg');
    min-height: 100%;
    background-size: 100% 100%;
    padding: 20px;
}

.login-card {
    background-color: #fff;
    float: none;
    margin: auto;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04);
    margin-top: 8%;
    margin-bottom: 5%;

}

.detail-part {
    background-image: url('/pics/RandomPic/register_pic.jpg');
    padding: 30px;
    background-size: 100% 100%;
}

.detail-part h1 {
    color: #fff;
}

.detail-part p {
    color: #fff;
    margin-top: 30px;
}

.logn-part {
    padding: 30px;
    background-color: #fafafa !important;
}

.logo-cover img {
    margin-bottom: 30px;
}

.form-cover h6 {
    margin-bottom: 30px;
}

.form-cover input {
    margin-bottom: 30px;
    border-radius: 0px;
    background-color: #cccccc38;
}

.form-footer .forget-paswd {
    text-align: left;
}

.button-div {
    text-align: right;
}

.form-footer {
    margin-bottom: 50px;
}

.button-div .btn {
    background-color: rgba(227, 172, 119) !important;
    border-color: rgba(227, 172, 119) !important;
}

.button-div .btn:hover {
    background-color: rgba(227, 172, 119) !important;
    border-color: rgba(227, 172, 119) !important;
}

.button-div .btn:active {
    background-color: rgba(227, 172, 119) !important;
    border-color: rgba(227, 172, 119) !important;
}

.button-div .btn:focus {
    background-color: rgba(227, 172, 119) !important;
    border-color: rgba(227, 172, 119) !important;
}


@media screen and (max-width: 767px) {
    .bg-login {
        background-image: url('/pics/RandomPic/bg-login.png');
    }

    .detail-part {
        background-image: url('/pics/RandomPic/low_res_coffee_login.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .card-group {
        padding-left: 100%;
        overflow: hidden;
    }

    #user_profile_file {
        max-width: 200px !important;
    }

    .btn {
        width: 40%;
        margin-right: 25%;
        margin-bottom: 3%;
    }
}


@media screen and (max-width: 1024px) {
    h1 {
        font-size: 5.5vh;
    }


}